#main {
  display: flex;
  justify-content: space-evenly;
  background-color: #f0eff4;
  height: 100vh; 
  color: #262322;
}

.main-container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;
  height: 25vh;
  background-color: #1fbfff;
  border: solid 3px #ffb60a;
  border-radius: 5px;   
}

.form-div {
  width: 85%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  width: 25%;
  border: none;
  background-color: #f0eff4;
}

.label {
  font-size: medium;
  width: 50%;
  color: #004966;
}

.save {
  width: 17.5%;
  border: none;
  background-color: #ffb60a;
  color: #004966;
}

.details{
  display: flex;
  flex-direction: column;
}

.detail-info {
  color: #f0eff4;
  font-size: large;
}

.form-container{
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: baseline;
  height: 200%;
}